<%= form_for(@client) do |f| %>
  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% @client.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :smsmail %><br />
    <%= f.text_field :smsmail %>
  </div>
  <h2>Группы:</h2>
  <% if Group.count != 0 %>
      <% for group in Group.find(:all) %>
        <div>
        <%= check_box_tag "client[group_ids][]", group.id, @client.groups.include?(group)%>
        <%= group.name%>
        </div>
      <% end %>
  <% else %>
      <p>Создайте первую группу</p>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
